*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-background{
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: 5px #111111 dashed ;
    padding: 5px 10px;
}

.colour{
    margin-top: 5px;
    margin-left: 10px;
}

.container-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
}

.keyColours{
    margin-top: 5px;
    font-size: 22px;
    letter-spacing: 4px;
}
